<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet/less" href="/stylesheets/resume.less"/>
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/letteringjs/jquery.lettering.js"></script>
    <script src="/bower_components/textillate/jquery.textillate.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <script src="/js/resume/resume.js"></script>
    <script>
        $(function () {
            var containerHeight = $(window).height() > 650 ? $(window).height() : 650;
            $('.full').css('height', containerHeight);
            $('.more-top').css('margin-top', containerHeight * 0.12);
            $('.tlt').textillate();
            var scrollTop=$(window).scrollTop();
            $(window).scroll(function(event){
               /* if($(this).scrollTop()>scrollTop){
                    window.scrollBy(0,containerHeight);
                }else{
                    window.scrollBy(0,-containerHeight);
                }*/
                console.log($(this).scrollTop());
            })
        })
    </script>
</head>
<body>
<div class="full jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="tlt h1-color" data-in-effect="fadeIn">Hello, world!</h1>
                <p class="xing-shu">一名小小攻城狮的前端之路</p>
                <span class="fa fa-envelope-o fontAColor spin"></span><span
                        class="right-space">luwenxull@outlook.com</span>
                <span class="fa fa-phone fontAColor spin"></span><span class="right-space">13646216010</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <canvas id="canvas1" width="1168" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="full less-top second-stage">
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col-xs-12 rel-pos" style="height: 400px;overflow-x: hidden;perspective: 600px;margin-top: 50px">
                <div class="skill-one skill">
                    <div class="col-xs-4 skill-left">
                        <h4 class="skill-title">HTML+CSS</h4>
                        <img src="../pic/logo/HTML5.gif" alt="" style="height: 50px;"/>
                        <img src="../pic/logo/css.gif" alt="" style="height: 50px"/>
                    </div>
                    <div class="col-xs-8 as-table">
                        <ul class="as-table-cell">
                            <li>熟悉HTML5，了解其语义化标签，Canvas，Socket等技术</li>
                            <li>熟悉CSS，熟练使用CSS3的新特性构建现代化的网页</li>
                            <li>熟悉Bootstrap的使用，了解响应式网页设计</li>
                            <li>了解Less的使用，精简并优化CSS代码</li>
                        </ul>
                    </div>
                </div>
                <div class="skill-two skill">
                    <div class="col-xs-4 skill-left">
                        <h4 class="skill-title">JavaScript</h4>
                        <img src="../pic/logo/JS.gif" alt="" style="height: 50px;"/>
                    </div>
                    <div class="col-xs-8 as-table">
                        <ul class="as-table-cell">
                            <li>熟悉JavaScript，熟悉其闭包，原型继承等特性</li>
                            <li>熟练运用jQuery，学习过其源码，对其各模块的实现有一定的认知</li>
                            <li>熟练使用AngularJS，熟悉其数据绑定，指令等核心理念，有大型项目开发经验</li>
                            <li>了解模块化开发，了解AMD及CMD及Require/Sea.js</li>
                        </ul>
                    </div>
                </div>
                <div class="skill-three skill">
                    <div class="row all-height">
                        <div class="col-xs-4 all-height skill-left">
                            <div class="control-margin">
                                <h4 class="skill-title">Server-Side</h4>
                                <!--<img src="../pic/logo/node.gif" alt="" style="height: 50px;"/>-->
                            </div>
                        </div>
                        <div class="col-xs-8 as-table">
                            <ul class="as-table-cell">
                                <li>了解Node.JS，了解其单线程异步等特点</li>
                                <li>熟悉Express框架，快速构建web服务器</li>
                                <li>了解Mongodb，使用mongoose操作数据库</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="skill-four skill">
                    <div class="row all-height">
                        <div class="col-xs-4 all-height skill-left">
                            <div class="control-margin">
                                <h4 class="skill-title">Others</h4>
                                <!--<img src="../pic/logo/node.gif" alt="" style="height: 50px;"/>-->
                            </div>
                        </div>
                        <div class="col-xs-8 as-table">
                            <ul class="as-table-cell">
                                <li>了解Node的单线程异步等特点</li>
                                <li>熟悉Express框架，</li>
                                <li>了解</li>
                                <li>了解模块化开发，了解AMD及CMD及Require/Sea.js</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full third-stage">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <h1>我的项目与经验</h1>
            </div>
            <div class="col-md-11">
                <div class="time-line">
                    <div class="breath b-one">
                        <div class="dialog"></div>
                    </div>
                    <div class="breath b-two"></div>
                    <div class="breath b-three"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/resume/canvas.js"></script>
</body>
</html>