<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script>
        var app=angular.module('app',['ui.router']);
    </script>
    <script src="js/service.js"></script>
    <script src="js/chatRoutes.js"></script>
    <!--Less-->
    <link rel="stylesheet/less" href="/stylesheets/login.less"/>
    <link rel="stylesheet/less" href="/stylesheets/chat.less"/>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row" ui-view>
        <div class="clo-md-12">
            <nav>
                <a ui-sref="login">登录</a>
                <a ui-sref="register">注册</a>
                <a ui-sref="chat">开始聊天</a>
            </nav>
            <div class="loginContainer">
                <span>用户名：</span><input type="text"/>
                <span>密码：</span><input type="text"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>