<!DOCTYPE html>
<html>
  <head>
    <title>IOpus</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome-4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet/less" href="/stylesheets/index.less"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <!--sweetalert-->
    <script src="/plugins/sweetalert/js/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="/plugins/sweetalert/css/sweet-alert.css">
    <script>
      $(function(){
//        $('.full').css('width',$(document).width())
      })
    </script>
    <script src="/js/index.js"></script>
  </head>
  <body>
  <div class="full">
    <div class="row top-section">
      <nav class="navbar navbar-default my-nav">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
<!--            <a class="navbar-brand" href="#">Brand</a>-->
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-font">
              <li><a href="myResume">About Me</a></li>
              <li><a href="sparrow">Sparrow.js</a></li>
              <li><a href="chatRoom">ChatRoom</a></li>
              <li><a href="blog">Blog</a></li>
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>-->
            </ul>
          </div>
        </div>
      </nav>
      <div class="col-xs-12 text-center">
        <h1 class="head">I M A G I N A T I O N</h1>
        <p class="subhead">Define Your Own Life</p>
      </div>
    </div>
    <div class="row second-section">
      <div class="col-xs-12 text-center">
        <h2 class="head-two">Who I Am</h2>
      </div>
      <div class="col-sm-6 text-center">
        <p class="sim-info">一只热爱技术、阳光积极、周末小小宅的羊</p>
        <p class="sim-info-sub">生于南通，学于南京</p>
        <p class="sim-info-e">
          A litter sheep,sunny,positive and love technology.
          From Nantong,study in Nanjing.
        </p>
        <div class="btn my-btn-two"><span><a href="myResume">关于我的更多</a></span></div>
      </div>
      <div class="col-sm-6 text-center">
        <img src="../pic/goat.gif" alt="本命年哦" class="goat"/>
      </div>
    </div>
    <div class="row fourth-section">
      <div class="col-xs-12 text-center control-height">
        <h2 class="head-four">Your support is my passion</h2>
        <p class="subhead-four">dreams realized are just project finished</p>
        <div class="btn my-btn-four" id="support" style="width: 68px" data-toggle="tooltip" data-placement="bottom" title="支持一下"><span class="fa fa-thumbs-o-up fa-3x"></span><span class="up">0</span></div>
        <div class="btn my-btn-four" data-toggle="tooltip" data-placement="bottom" title="给我留言"><span class="fa fa-comment-o fa-3x"></span></div>
      </div>
      <div class="col-xs-12 footer">
        <p class="footer-font"><span class="fa fa-copyright"></span><span>by 陆雯旭,2015</span></p>
        <!--<div class="btn my-btn-two to-right"><a href="http://weibo.com/myownswordsman"><span class="fa fa-weibo"></span><span class="fit-mobile">月朦之初</span></a></div>
        <div class="btn my-btn-two to-right"><a href="https://github.com/luwenxull"><span class="fa fa-github"></span><span class="fit-mobile">luwenxull</span></a></div>-->
      </div>
    </div>
  </div>
  </body>
</html>