<!DOCTYPE html>
<html>
  <head>
    <title>IOpus</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome-4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet/less" href="/stylesheets/index.less"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <script>
      $(function(){
        $('.full').css('width',$(document).width())
      })
    </script>
  </head>
  <body>
  <div class="container full">
    <!--<div class="row">
      <div class="col-xs-12 toCenter">
        &lt;!&ndash;<%- include navbar%>&ndash;&gt;
      </div>
    </div>-->
    <div class="row top-section">
      <div class="col-xs-12 text-center">
        <!--<nav><span>预留导航栏</span></nav>-->
        <h1 class="head">I M A G I N A T I O N</h1>
        <p class="subhead">Define Your Own Life</p>
        <!--<button class="btn my-btn-one"><span>Get Start</span></button>-->
        <div class="btn my-btn-one"><span class="font-btn">Get Start</span></div>
      </div>
    </div>
    <div class="row second-section">
      <div class="col-xs-12 text-center">
        <h2 class="head-two">Who I Am</h2>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <p class="sim-info">一只热爱技术、阳光积极、周末小小宅的羊</p>
        <p class="sim-info-sub">生于南通，学于南京</p>
        <p class="sim-info-e">
          A litter sheep,sunny,positive and love technology.
          From Nantong,study in Najing.
        </p>
        <div class="btn my-btn-two"><span class="fa"><a href="myResume">关于我的更多</a></span></div>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <div class="col-xs-12"><img src="../pic/goat.gif" alt="本命年哦" class="goat"/></div>
      </div>
    </div>
    <div class="row third-section">
      <div class="col-xs-12">
        <div class="text-center"><h2 class="head-two">Latest Blog Articles</h2></div>
        <div class="col-xs-3 blog-show">one</div>
        <div class="col-xs-3 blog-show">two</div>
        <div class="col-xs-3 blog-show">three</div>
      </div>
    </div>
    <div class="row fourth-section">
      <div class="col-xs-12 text-center control-height">
        <h2 class="head-four">Your support is my passion</h2>
        <p class="subhead-four">dreams realized are just project finished</p>
        <div class="btn my-btn-four" style="width: 68px"><span class="fa fa-thumbs-o-up fa-3x"></span></div>
        <div class="btn my-btn-four"><span class="fa fa-comment-o fa-3x"></span></div>
        <!--<div class="btn my-btn-four"><span class="fa fa-comment-o fa-3x"></span><span>给我留言</span></div>-->
      </div>
      <div class="col-xs-12 footer">
        <p class="footer-font"><span class="fa fa-copyright">by 陆雯旭,2015</span></p>
        <div class="btn my-btn-two to-right"><span class="fa fa-weibo">月朦之初</span></div>
        <div class="btn my-btn-two to-right"><span class="fa fa-github">luwenxull</span></div>
      </div>
    </div>
  </div>
  </body>
</html>