<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet/less" href="/stylesheets/navbar.less"/>
    <script src="/bower_components/less/dist/less.min.js"></script>
  </head>
  <body>
  <div class="container">
    <%- include navbar%>
  </div>
  </body>
</html>