<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet/less" href="/stylesheets/resume.less"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row bottomBorder">
        <div class="col-md-4">
            <h3 class="inlineBlock">陆雯旭</h3><span class="withPadding">一名小小的前端攻城狮</span>
        </div>
        <div class="col-md-2 col-md-offset-4 topMargin">
            <span class="fa fa-envelope-o fontAColor"></span><span>luwenxull@outlook.com</span>
        </div>
        <div class="col-md-2 topMargin">
            <span class="fa fa-phone fontAColor"></span><span>13646216010</span>
        </div>
    </div>
    <div class="row">

    </div>
</div>
</body>
</html>