<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet/less" href="/stylesheets/resume.less"/>
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/letteringjs/jquery.lettering.js"></script>
    <script src="/bower_components/textillate/jquery.textillate.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <script>
        function progressAnimation(){
            $('.first-progress').css('width','70%');
            $('.second-progress').css('width','60%');
            $('.third-progress').css('width','50%');
        }
      $(function(){
          var flag=true;
          var containerHeight=$(window).height()>650?$(window).height():650;
          $('.full').css('height',containerHeight);
          $('.more-top').css('margin-top',containerHeight*0.12);
          /*canvas*/
          $('.tlt').textillate();
          $(function () {
              $('[data-toggle="tooltip"]').tooltip()
          });

          $('.second-stage').mouseover(function(){
              if(flag){
                  $('#stage-title-two').empty().append('<h1 class="title-two">'+'前端攻城狮，但并不只是前端哦~'+'</h1>');
                  $('.title-two').textillate();
                  flag=false;
              }
              setTimeout('progressAnimation()',1000);
              $('.second-stage').unbind('mouseover');
          })
          $('.a-control').click(function(){
              var that=this;
              $('.skill-hide').each(function(){
                  if($(this).attr('id')==that.classList[1]){
                      $(this).toggle();
                  }else{
                      $(this).hide();
                  }
              })
          })
      })
    </script>
</head>
<body>
<div class="jumbotron full">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="tlt h1-color" data-in-effect="fadeIn">Hello, world!</h1>
                <p>一名小小攻城狮的前端之路</p>
                <span class="fa fa-envelope-o fontAColor spin"></span><span class="right-space" >luwenxull@outlook.com</span>
                <span class="fa fa-phone fontAColor spin"></span><span class="right-space">13646216010</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <canvas id="canvas1" width="1168" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="full less-top second-stage">
    <div class="container">
        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-12 text-center" id="stage-title-two">
                <h1 class="res">reserve</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="skillItem">HTML+CSS</span>
            </div>
            <div class="col-md-9">
                <div class="progress adjustHeight">
                    <div class="progress-bar progress-bar-striped active first-progress" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="">
                        <span class="sr-only">50% Complete</span>
                    </div>
                    <a class="a-control groupOne fa fa-angle-double-down" data-toggle="tooltip" data-placement="top" title="点击查看详情"></a>
                </div>
                <div class="skill-hide color-one" id="groupOne">
                    <ul>
                        <li>吃</li>
                        <li>喝</li>
                        <li>玩</li>
                        <li>乐</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <span class="skillItem">JavaScript</span>
            </div>
            <div class="col-md-9">
                <div class="progress adjustHeight">
                    <div class="progress-bar progress-bar-info progress-bar-striped active second-progress" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">45% Complete</span>
                    </div>
                    <a class="a-control groupTwo fa fa-angle-double-down" data-toggle="tooltip" data-placement="top" title="点击查看详情"></a>
                </div>
                <div class="skill-hide color-two" id="groupTwo">
                    <ul>
                        <li>吃</li>
                        <li>喝</li>
                        <li>玩</li>
                        <li>乐</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <span class="skillItem">AngularJS</span>
            </div>
            <div class="col-md-9">
                <div class="progress adjustHeight">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active third-progress" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">45% Complete</span>
                    </div>
                    <a class="a-control groupThree fa fa-angle-double-down" data-toggle="tooltip" data-placement="top" title="点击查看详情"></a>
                </div>
                <div class="skill-hide color-three" id="groupThree">
                    <ul>
                        <li>吃</li>
                        <li>喝</li>
                        <li>玩</li>
                        <li>乐</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full third-stage">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <h1>我的项目与经验</h1>
            </div>
            <div class="col-md-11">
                <div class="time-line">
                    <div class="breath b-one">
                        <div class="dialog"></div>
                    </div>
                    <div class="breath b-two"></div>
                    <div class="breath b-three"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/resume/canvas.js"></script>
</body>
</html>