.size(@width,@height) {
  width: @width;
  height: @height;
}

.position(@pos) {
  position: @pos;
}

.radius(@radius) {
  border-radius: @radius;
}

.align-center {
  margin: 0 auto;
}
.cd-nav{
  .second-level{
    overflow: hidden;
    a{
      transition-duration: .7s;
    }
  }
  .title{
    overflow: hidden;
    a{
      transition-duration: .7s;
    }
  }
}

