@leftPadding:2em;
@controlMargin:24px;
@fontAColor:#028FF8;
@rightSpace:15px;
@font-face {
  font-family: BRACKEN Regular;
  src: url('../font/BRACKEN-Regular.ttf');
}
@font-face {
  font-family: 叶根友行书;
  src: url('../font/叶根友行书.ttf') format('truetype');
}
@font-face {
  font-family: RopaSansPro;
  src: url('../font/RopaSansPro-BoldItalic.otf');
}
/*全局container设置*/
.full{
  width: 1349px;
}
.size(@width,@height){
  width: @width;
  height: @height;
}
.font(@size){
  font-size: @size;
}
.display(@style){
  display: @style;
}
li{
  margin-bottom: 10px;
  font-family: "BRACKEN Regular";
}
/*相对定位*/
.rel-pos{
  position: relative;
}
.inlineBlock{
  display: inline-block;
}
.h1-color{
  color: #3366CC !important;
}
.xing-shu{
  font-family: 叶根友行书;
}
.withPadding{
  padding-left: @leftPadding;
}

.bottomBorder{
  border-bottom: 1px solid #dcdcdc;
}

.adjustHeight{
  height: 30px !important;
}

.topMargin(@length){
  margin-top: @length;
}
.less-top{
  .topMargin(-30px);
}
.right-space{
  margin-right: @rightSpace;
}
.fontAColor{
  color: @fontAColor;
}
.second-stage{
//  background-color: #99CCFF;
  background-image: url('../pic/2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.spin{
  transition: 1s;
  &:hover{
    -ms-transform: rotate(360deg);		/* IE 9 */
    -webkit-transform: rotate(360deg);	/* Safari and Chrome */
    -o-transform: rotate(360deg);		/* Opera */
    -moz-transform: rotate(360deg);
  }
}
.a-control{
  font-size: 30px !important;
  float: right;
  cursor: pointer;
}
.res{
  visibility: hidden;
}

/*third stage*/
.t-l-position{
  .rel-pos;
  top: 150px;
}
.t-l-border{
  border-top: 1px solid red;
}
.time-line{
  width: 100%;
  .t-l-border;
  .t-l-position;
}

.b-one{
  left: 1%;
}
.b-two{
  left: 30%;
}
.b-three{
  left: 70%;
}

/*呼吸灯*/
.breath-border{
  border-radius: 50%;
  background-color: #0B506C;
//  box-shadow:5px 5px 5px blue,-5px -5px 5px blue;
//  box-shadow: 0 0 20px blue;
}
@-webkit-keyframes breathLight
 {
  from{box-shadow: 0 0 10px 0px rgb(68,90,198);background-color: #0B506C;opacity: 0.8 }
  to{box-shadow: 0 0 15px 5px #178FC1;
    background-color: #18A4DE;opacity: 0.7}
}
.b-size{
  width: 30px;
  height: 30px;
}
.breath{
  .b-size;
  .breath-border;
  .rel-pos;
  top: -15px;
  display: inline-block;
  cursor: pointer;
  -webkit-animation: breathLight 3s ease-in-out 0 infinite alternate;
  animation:breathLight 3s ease-in-out 0 infinite alternate ;
}
/*3D对话框*/
.d-b-pos{
  position: absolute;
  top: -30px;
  left: -15px;
}
.dialog:before{
  content: "";
  display: inline-block;
  border: 20px solid transparent;
  border-top-color: red;
  .d-b-pos;
}
/*second stage*/
.skill{
  .size(73%,300px);
  position: absolute;
  transition-duration: 1s;
  border-radius: 5px;
  &:hover{
//    margin-top: 10px;
  }
}
.control-margin{
  margin-left: 8%;
  transition-duration: 1s;
}
.skill-title{
  .font(24px);
  margin-top: 100px;
  font-family: RopaSansPro;
}
.skill-left{
  height: 100%;
}
.as-table{
  .display(table);
  height: 300px;
  color: aliceblue;
  .font(18px)
}
.as-table-cell{
  .display(table-cell);
  vertical-align: middle;
  list-style-type: none;
}
.skill-one{
  background-color: rgba(63,179,112,1);
}
.skill-two{
  margin-left: 25%;
  background-color: rgba(253,224,154,1);
//  margin-top: 12px;
}
.skill-three{
  margin-left: 50%;
  background-color: rgba(255,244,205,1);
//  margin-top: 24px;
}
.skill-four{
  margin-left: 75%;
  background-color: rgba(174,222,240,1);
//  margin-top: 36px;
}
