<!--<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Execution Context</title>
</head>
<body>-->
<article>
    <header>
        <h3>执行上下文--Execution Context</h3>
    </header>
    <section>
        <h5>定义</h5>
        <p>每次当控制器转到ECMAScript可执行代码的时候，即会进入到一个执行上下文（简称EC）。
            活动的执行上下文组在逻辑上组成一个堆栈。堆栈底部永远都是全局上下文(global context)，而顶部就是当前(活动的)执行上下文。
            堆栈在EC类型进入和退出上下文的时候被修改（推入或弹出）。</p>
    </section>
    <section>
        <h5>可执行代码类型</h5>
        <h6>全局代码</h6>
        <h6>函数代码</h6>
        <h6>Eval代码</h6>
    </section>

</article>

<!--

</body>
</html>-->
