<!DOCTYPE html>
<html>
<head>
    <title>IOpus</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome-4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet/less" href="/stylesheets/blog.less"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <script>
        $(function(){
            $('.full').css('width',$(document).width())
        })
    </script>
    <script src="/js/blog/blog.js"></script>
</head>
<body>
<div class="container full">
    <div class="row">
        <div class="col-xs-2 primary-navigation">
            <ul class="primary-ul">
                <li class="primary-li"><span>HTML</span></li>
                <li class="primary-li">CSS</li>
                <li class="primary-li">JavaScript</li>
            </ul>
        </div>
        <div class="col-xs-3 second-navigation">
            <ul></ul>
        </div>
        <div class="col-xs-7 blog-content">
            <div><h5>javascript高手进阶</h5></div>
            <div>
                <iframe src="/t.html" frameborder="0"></iframe></div>
            <div>

            </div>
        </div>
    </div>
</div>
</body>
</html>