<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/plugins/sweetalert/css/sweet-alert.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.useso.com/css?family=RobotoDraft:300,500">
    <link rel="stylesheet" type="text/css" href="/plugins/login/css/default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/login/css/account.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/plugins/sweetalert/js/sweet-alert.min.js"></script>
    <script>
        var app = angular.module('app', ['ui.router', 'ngResource']);
        app.run(function($state){
            $state.go('signIn');
        })
    </script>
    <!--<script src="js/chatRoom/service.js"></script>-->
    <script src="/js/chatRoom/controller.js"></script>
    <script src="js/chatRoom/chatRoutes.js"></script>
    <!--Less-->
    <link rel="stylesheet/less" href="/stylesheets/login.less"/>
    <link rel="stylesheet/less" href="/stylesheets/chat.less"/>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <script src="/js/chatRoom/signin.js"></script>
</head>
<body ui-view>
</body>
</html>